.svn/
.DS_Store
.*.swp
.*.swo
.swn
.swo
.sw?
*.tgz
*.zip
.bash_history
old_conf/.bashrc.local
custom/seravia.bash
.keepassx
.profile
.viminfo
private/
*.pyc
.ec2/
*.cache-2
.gitconfig
.swp
.s3cfg
.*.local
*.so
*.exe
*.swf
*.zip
FILES.txt
